.shop {
  background-color: #e6fcf6;
  padding: 2rem;

  .products {

    .products-list {
      display: inline-block;
      margin-bottom: 5rem;

      @media (min-width: 768px) {
        // width: 19rem;
        width: 23%;
        padding: 0 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }

      .upper-div {
        height: 15rem;
        position: relative;

        &:hover {
          .add-to-cart, .buy-now {
            opacity: 1;
          }
        }
    
        img {
          width: 100%;
          height: 100%;
        }

        .product-name, .price {
          position: absolute;
          padding: 0.5rem;
          font-size: 1rem;
          top: 0.5rem;
          border-radius: 0.3rem;
        }
        
        .product-name {
          background-color: rgba(126, 126, 126, 0.8);
          color: yellowgreen;
          font-weight: bolder;
          left: 0.5rem;
        }

        .price {
          background-color: #030303;
          font-weight: bolder;
          color: #e6fcf6;
          right: 0.5rem;
        }

        .add-to-cart {
          display: inline;
          border: none;
          background-color: #7c7c7c;
          color: #e7e5e5;
          padding: 0.2rem 0.4rem;
          border-radius: 0.3rem;
          outline: none;
          position: absolute;
          bottom: 0.5rem;
          opacity: 0;
          transition: all ease-in-out 0.7s;

          &:hover {
            background-color: #494949;
          }
        }

        .add-to-cart {
          left: 0.5rem;
        }

        .buy-now {
          transition: all ease 0.7s;
          position: absolute;
          bottom: 0.5rem;
          opacity: 0;
          transition: all ease-in-out 0.7s;
          right: 0.5rem;
          bottom: 0.5rem;
        }
      }

      .lower-div {
        width: 100%;
        padding: 0 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 2px groove #3d913d;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}