.cart {
  background-color: #e6fcf6;
  padding: 2rem;
  // height: 100vh;

  .no-item {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    table {
      width: 60%;

      thead {
        background-color: #585a5a;
        color: #e6fcf6;
      }

      tbody {
        background-color: #f9f9f9;
        color: #868686;
      }
  
      thead, tbody {
        width: 100%;

        tr {
          border-bottom: 1px solid #dddcdc;

          td, th {
            padding: 1.3rem 1rem;
            text-align: center;
          }
  
          td {
            img {
              width: 3rem;
              height: 2rem;
            }
  
            button {
              padding: 0.1rem 0.35rem;
              margin: 0 0.2rem;
              border: none;
              border-radius: 0.3rem;
              transition: all ease 0.7s;
            }
  
            .decrease {
              background-color: #d5dd8a;
  
              &:hover {
                background-color: #c7da24;
              }
            }
  
            .increase {
              background-color: #81bda1;
  
              &:hover {
                background-color: #2fa870;
              }
            }
  
            .remove {
              background-color: #cf8787;
  
              &:hover {
                background-color: #f14d4d;
              }
            }
          }
        }
        span {
          margin: 0 0.3rem;
        }

        .title, .unit-price {
          font-size: small;
        }
      }
    }

    .final-div {
      background-color: #3b504e;
      color: #f9f9f9;
      width: 60%;
      padding: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #dddcdc;
      margin-top: 0.1rem;
      font-weight: 600;

      .grand-total {
        font-size: 1.2rem;
        background-color: #70ad0d;
        padding: 0.5rem;
        border-radius: 0.5rem;
      }

      a {
        padding: 0.5rem;
        background-color: #e4e4e4;
        text-decoration: none;
        color: #333 !important;
        font-size: 0.8rem;
        border-radius: 0.5rem;
        transition: all ease 0.5s;

        &:hover {
          background-color: #70ad0d;
          color: #fff !important;
        }
      }
    }
    
  }
}

// .cart-item:nth-child(2n+2) {
//   background: #f9f9f9;
// }